.elementor-7735 .elementor-element.elementor-element-9ec3e90{overflow:visible;}.elementor-7735 .elementor-element.elementor-element-8b6ad16 .elementor-spacer-inner{height:30px;}.elementor-7735 .elementor-element.elementor-element-4c1abd0{overflow:visible;}.elementor-7735 .elementor-element.elementor-element-149903b{overflow:visible;}.elementor-7735 .elementor-element.elementor-element-aee6877 .elementor-heading-title{color:#002C47;font-family:"Roboto", Sans-serif;font-size:30px;font-weight:600;}.elementor-7735 .elementor-element.elementor-element-303cd88{overflow:visible;}.elementor-7735 .elementor-element.elementor-element-e1ffa1b{overflow:visible;}.elementor-7735 .elementor-element.elementor-element-a1630ee > .elementor-widget-container{padding:0px 030px 0px 0px;}.elementor-7735 .elementor-element.elementor-element-e76bcc3{overflow:visible;}.elementor-7735 .elementor-element.elementor-element-26ee953{overflow:visible;}.elementor-7735 .elementor-element.elementor-element-86632e9 .elementor-spacer-inner{height:40px;}.elementor-7735 .elementor-element.elementor-element-7ea92cb{overflow:visible;}.elementor-7735 .elementor-element.elementor-element-19217ff > .elementor-widget-container{padding:0px 0px 0px 030px;}.elementor-7735 .elementor-element.elementor-element-4eecebf{overflow:visible;}.elementor-7735 .elementor-element.elementor-element-1cfc9f9{text-align:center;}.elementor-7735 .elementor-element.elementor-element-d6ef7bc{overflow:visible;}.elementor-7735 .elementor-element.elementor-element-0680738 .elementor-spacer-inner{height:40px;}.elementor-7735 .elementor-element.elementor-element-cf695e5{overflow:visible;}.elementor-7735 .elementor-element.elementor-element-b627032 > .elementor-widget-container{padding:0px 030px 0px 0px;}.elementor-7735 .elementor-element.elementor-element-c9980eb{overflow:visible;}.elementor-7735 .elementor-element.elementor-element-3e2721c{text-align:center;}.elementor-7735 .elementor-element.elementor-element-01a56db{overflow:visible;}.elementor-7735 .elementor-element.elementor-element-685e205 .elementor-spacer-inner{height:50px;}@media(max-width:1024px){.elementor-7735 .elementor-element.elementor-element-a1630ee > .elementor-widget-container{padding:0px 20px 0px 0px;}.elementor-7735 .elementor-element.elementor-element-19217ff > .elementor-widget-container{padding:0px 0px 0px 020px;}.elementor-7735 .elementor-element.elementor-element-b627032 > .elementor-widget-container{padding:0px 020px 0px 0px;}}@media(max-width:767px){.elementor-7735 .elementor-element.elementor-element-a1630ee > .elementor-widget-container{padding:0px 0px 0px 00px;}.elementor-7735 .elementor-element.elementor-element-19217ff > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-7735 .elementor-element.elementor-element-b627032 > .elementor-widget-container{padding:0px 0px 0px 00px;}}/* Start custom CSS for text-editor, class: .elementor-element-80e4ecb */.article-block .text ul {
    padding: 0;
    margin: 15px 0px;
}
.article-block .text ul li {
    display: inline;
}
.article-block .text ul li i {
    font-size: 8px;
    position: relative;
    color: #1a9ec8;
    margin-right: 5px;
    top: -2px;
}
.article-block .text h3 {
    font-size: 22px;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-2f50f26 */.article-block .text ul {
    padding: 0;
    margin: 15px 0px;
}
.article-block .text ul li {
    display: inline;
}
.article-block .text ul li i {
    font-size: 8px;
    position: relative;
    color: #1a9ec8;
    margin-right: 5px;
    top: -2px;
}
.article-block .text h3 {
    font-size: 22px;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-6bb7568 */.article-block .text ul {
    padding: 0;
    margin: 15px 0px;
}
.article-block .text ul li {
    display: inline;
}
.article-block .text ul li i {
    font-size: 8px;
    position: relative;
    color: #1a9ec8;
    margin-right: 5px;
    top: -2px;
}
.article-block .text h3 {
    font-size: 22px;
}/* End custom CSS */