.elementor-6871 .elementor-element.elementor-element-dc0d30d{overflow:visible;}.elementor-6871 .elementor-element.elementor-element-78d20bd .elementor-spacer-inner{height:40px;}.elementor-6871 .elementor-element.elementor-element-cab799f{overflow:visible;}.elementor-6871 .elementor-element.elementor-element-0d94f73{overflow:visible;}/* Start custom CSS for text-editor, class: .elementor-element-0083765 */.health-block h1 {
    font-size: 30px;
    margin-bottom: 0;
}
.health-block p {
    font-size: 15px;
    margin-bottom: 8px;
}
.health-block p b {
    color: #1a9ec8;
}/* End custom CSS */