.elementor-6858 .elementor-element.elementor-element-fbf85d9{overflow:visible;}.elementor-6858 .elementor-element.elementor-element-c587ee8 .elementor-spacer-inner{height:40px;}.elementor-6858 .elementor-element.elementor-element-5c905fc{overflow:visible;}.elementor-6858 .elementor-element.elementor-element-680b1b1{overflow:visible;}.elementor-6858 .elementor-element.elementor-element-4f7f361{overflow:visible;}/* Start custom CSS for text-editor, class: .elementor-element-d5e36f8 */.health-block h1 {
    font-size: 30px;
    margin-bottom: 0;
}
.health-block p {
    font-size: 15px;
    margin-bottom: 8px;
}
.health-block p b {
    color: #1a9ec8;
}/* End custom CSS */