.elementor-6841 .elementor-element.elementor-element-1ee8e70{overflow:visible;}.elementor-6841 .elementor-element.elementor-element-477cc3f .elementor-spacer-inner{height:40px;}.elementor-6841 .elementor-element.elementor-element-a338ee8{overflow:visible;}.elementor-6841 .elementor-element.elementor-element-6f61d2a{overflow:visible;}.elementor-6841 .elementor-element.elementor-element-1c7241b{overflow:visible;}/* Start custom CSS for text-editor, class: .elementor-element-b11997c */.health-block h1 {
    font-size: 30px;
    margin-bottom: 0;
}
.health-block p {
    font-size: 15px;
    margin-bottom: 8px;
}
.health-block p b {
    color: #1a9ec8;
}/* End custom CSS */