.elementor-2679 .elementor-element.elementor-element-a58f312{overflow:visible;}.elementor-2679 .elementor-element.elementor-element-3c3a5fc .elementskit-section-title-wraper .elementskit-section-title{color:#002C47;margin:0px 0px 0px 0px;font-size:30px;font-weight:700;line-height:60px;}.elementor-2679 .elementor-element.elementor-element-3c3a5fc .elementskit-section-title-wraper .elementskit-section-title > span{color:#000000;font-size:30px;}.elementor-2679 .elementor-element.elementor-element-3c3a5fc .elementskit-section-title-wraper p{color:#646E84;font-family:"Rubik", Sans-serif;font-size:16px;line-height:30px;margin:0px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-3c3a5fc > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-031809b .elementskit-section-title-wraper .elementskit-section-title{color:#002C47;margin:0px 0px 0px 0px;font-size:30px;font-weight:700;line-height:60px;}.elementor-2679 .elementor-element.elementor-element-031809b .elementskit-section-title-wraper .elementskit-section-title > span{color:#000000;}.elementor-2679 .elementor-element.elementor-element-031809b .elementskit-section-title-wraper p{color:#646E84;font-family:"Rubik", Sans-serif;font-size:16px;line-height:30px;margin:0px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-031809b > .elementor-widget-container{margin:0px 0px 5px 0px;padding:0px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-bc41586{overflow:visible;}.elementor-2679 .elementor-element.elementor-element-0263667 .elementor-spacer-inner{height:25px;}.elementor-2679 .elementor-element.elementor-element-c04bde5{overflow:visible;}.elementor-2679 .elementor-element.elementor-element-5916bf9{overflow:visible;}.elementor-2679 .elementor-element.elementor-element-4cffd95 .ekit-team-modal-close{right:10px;color:#656565;}.elementor-2679 .elementor-element.elementor-element-4cffd95 .profile-card:hover, .elementor-2679 .elementor-element.elementor-element-4cffd95 .profile-image-card:hover, .elementor-2679 .elementor-element.elementor-element-4cffd95 .profile-card::before, .elementor-2679 .elementor-element.elementor-element-4cffd95 .profile-image-card::before, .elementor-2679 .elementor-element.elementor-element-4cffd95 div .profile-card .profile-body::before, .elementor-2679 .elementor-element.elementor-element-4cffd95 .image-card-v3 .profile-image-card:after{background-color:transparent;background-image:linear-gradient(180deg, #0EA0CAE8 0%, #0EA0CAE8 100%);}.elementor-2679 .elementor-element.elementor-element-4cffd95 .ekit-team-img.profile-header > img{border-radius:50% 50% 50% 50%;}.elementor-2679 .elementor-element.elementor-element-4cffd95 .profile-body .profile-title{font-size:22px;color:#FFFFFF;}.elementor-2679 .elementor-element.elementor-element-4cffd95 .ekit-team-modal-close svg path{stroke:#656565;fill:#656565;}.elementor-2679 .elementor-element.elementor-element-ef416d6 .ekit-team-modal-close{right:10px;color:#656565;}.elementor-2679 .elementor-element.elementor-element-ef416d6 .profile-card:hover, .elementor-2679 .elementor-element.elementor-element-ef416d6 .profile-image-card:hover, .elementor-2679 .elementor-element.elementor-element-ef416d6 .profile-card::before, .elementor-2679 .elementor-element.elementor-element-ef416d6 .profile-image-card::before, .elementor-2679 .elementor-element.elementor-element-ef416d6 div .profile-card .profile-body::before, .elementor-2679 .elementor-element.elementor-element-ef416d6 .image-card-v3 .profile-image-card:after{background-color:transparent;background-image:linear-gradient(180deg, #0EA0CAE8 0%, #0EA0CAE8 100%);}.elementor-2679 .elementor-element.elementor-element-ef416d6 .ekit-team-img.profile-header > img{border-radius:50% 50% 50% 50%;}.elementor-2679 .elementor-element.elementor-element-ef416d6 .ekit-team-modal-close svg path{stroke:#656565;fill:#656565;}.elementor-2679 .elementor-element.elementor-element-972088a .ekit-team-modal-close{right:10px;color:#656565;}.elementor-2679 .elementor-element.elementor-element-972088a .profile-card:hover, .elementor-2679 .elementor-element.elementor-element-972088a .profile-image-card:hover, .elementor-2679 .elementor-element.elementor-element-972088a .profile-card::before, .elementor-2679 .elementor-element.elementor-element-972088a .profile-image-card::before, .elementor-2679 .elementor-element.elementor-element-972088a div .profile-card .profile-body::before, .elementor-2679 .elementor-element.elementor-element-972088a .image-card-v3 .profile-image-card:after{background-color:transparent;background-image:linear-gradient(180deg, #0EA0CAE8 0%, #0EA0CAE8 100%);}.elementor-2679 .elementor-element.elementor-element-972088a .ekit-team-img.profile-header > img{border-radius:50% 50% 50% 50%;}.elementor-2679 .elementor-element.elementor-element-972088a .ekit-team-modal-close svg path{stroke:#656565;fill:#656565;}.elementor-2679 .elementor-element.elementor-element-993b998 .ekit-team-modal-close{right:10px;color:#656565;}.elementor-2679 .elementor-element.elementor-element-993b998 .profile-card:hover, .elementor-2679 .elementor-element.elementor-element-993b998 .profile-image-card:hover, .elementor-2679 .elementor-element.elementor-element-993b998 .profile-card::before, .elementor-2679 .elementor-element.elementor-element-993b998 .profile-image-card::before, .elementor-2679 .elementor-element.elementor-element-993b998 div .profile-card .profile-body::before, .elementor-2679 .elementor-element.elementor-element-993b998 .image-card-v3 .profile-image-card:after{background-color:transparent;background-image:linear-gradient(180deg, #0EA0CAE8 0%, #0EA0CAE8 100%);}.elementor-2679 .elementor-element.elementor-element-993b998 .ekit-team-img.profile-header > img{border-radius:50% 50% 50% 50%;}.elementor-2679 .elementor-element.elementor-element-993b998 .ekit-team-modal-close svg path{stroke:#656565;fill:#656565;}.elementor-2679 .elementor-element.elementor-element-1a175b5 .ekit-team-modal-close{right:10px;color:#656565;}.elementor-2679 .elementor-element.elementor-element-1a175b5 .profile-card:hover, .elementor-2679 .elementor-element.elementor-element-1a175b5 .profile-image-card:hover, .elementor-2679 .elementor-element.elementor-element-1a175b5 .profile-card::before, .elementor-2679 .elementor-element.elementor-element-1a175b5 .profile-image-card::before, .elementor-2679 .elementor-element.elementor-element-1a175b5 div .profile-card .profile-body::before, .elementor-2679 .elementor-element.elementor-element-1a175b5 .image-card-v3 .profile-image-card:after{background-color:transparent;background-image:linear-gradient(180deg, #0EA0CAE8 0%, #0EA0CAE8 100%);}.elementor-2679 .elementor-element.elementor-element-1a175b5 .ekit-team-img.profile-header > img{border-radius:50% 50% 50% 50%;}.elementor-2679 .elementor-element.elementor-element-1a175b5 .ekit-team-modal-close svg path{stroke:#656565;fill:#656565;}.elementor-2679 .elementor-element.elementor-element-ed77e5f .ekit-team-modal-close{right:10px;color:#656565;}.elementor-2679 .elementor-element.elementor-element-ed77e5f .profile-card:hover, .elementor-2679 .elementor-element.elementor-element-ed77e5f .profile-image-card:hover, .elementor-2679 .elementor-element.elementor-element-ed77e5f .profile-card::before, .elementor-2679 .elementor-element.elementor-element-ed77e5f .profile-image-card::before, .elementor-2679 .elementor-element.elementor-element-ed77e5f div .profile-card .profile-body::before, .elementor-2679 .elementor-element.elementor-element-ed77e5f .image-card-v3 .profile-image-card:after{background-color:transparent;background-image:linear-gradient(180deg, #0EA0CAE8 0%, #0EA0CAE8 100%);}.elementor-2679 .elementor-element.elementor-element-ed77e5f .ekit-team-img.profile-header > img{border-radius:50% 50% 50% 50%;}.elementor-2679 .elementor-element.elementor-element-ed77e5f .ekit-team-modal-close svg path{stroke:#656565;fill:#656565;}.elementor-2679 .elementor-element.elementor-element-6fb45a9{overflow:visible;}.elementor-2679 .elementor-element.elementor-element-c1c9cc8{overflow:visible;}.elementor-2679 .elementor-element.elementor-element-a1d0359{overflow:visible;}.elementor-2679 .elementor-element.elementor-element-a6eb58d{overflow:visible;}.elementor-2679 .elementor-element.elementor-element-12202e4{overflow:visible;}.elementor-2679 .elementor-element.elementor-element-44f10b8{overflow:visible;}.elementor-2679 .elementor-element.elementor-element-0aa77bb:not(.elementor-motion-effects-element-type-background), .elementor-2679 .elementor-element.elementor-element-0aa77bb > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(180deg, #002C47 0%, #002C47 100%);}.elementor-2679 .elementor-element.elementor-element-0aa77bb{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;overflow:visible;}.elementor-2679 .elementor-element.elementor-element-0aa77bb > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2679 .elementor-element.elementor-element-70f6278{overflow:visible;}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper .elementskit-section-title{color:#FFFFFF;font-size:48px;font-weight:700;line-height:60px;}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper .elementskit-section-title > span{color:#000000;}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper .elementskit-section-subtitle{color:#0AC668;font-size:16px;font-weight:500;text-transform:uppercase;line-height:19px;letter-spacing:-0.5px;margin:0px 0px 20px 70px;}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper p{color:#B3C0C8;font-family:"Rubik", Sans-serif;font-size:16px;line-height:30px;margin:0px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper .elementskit-border-divider{width:50px;background:linear-gradient(90deg, #0AC668 0%, #0AC668 100%);}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper .elementskit-border-divider.elementskit-style-long{width:50px;height:2px;color:#0AC668;}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper .elementskit-border-star{width:50px;height:2px;background:linear-gradient(90deg, #0AC668 0%, #0AC668 38%, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0) 62%, #0AC668 62%, #0AC668 100%);}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper .elementskit-border-divider, .elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-border-divider::before{height:2px;}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper .ekit_heading_separetor_wraper{margin:0px 0px -10px 0px;}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper .elementskit-border-divider:before{background-color:#0AC668;box-shadow:9px 0px 0px 0px #0AC668, 18px 0px 0px 0px #0AC668;}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper .elementskit-border-star:after{background-color:#0AC668;}.elementor-2679 .elementor-element.elementor-element-19db4e7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 20px 0px;}.elementor-2679 .elementor-element.elementor-element-e4cabdb > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:20px;}.elementor-2679 .elementor-element.elementor-element-e4cabdb > .elementor-element-populated >  .elementor-background-overlay{background-image:url("http://staging.beforegoinglive.com/sentiss1/wp-content/uploads/2020/10/cta_image.png");background-repeat:no-repeat;opacity:1;}.elementor-2679 .elementor-element.elementor-element-e4cabdb > .elementor-element-populated > .elementor-background-overlay{mix-blend-mode:luminosity;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2679 .elementor-element.elementor-element-e4cabdb > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2679 .elementor-element.elementor-element-ad4417c .elementor-icon-wrapper{text-align:center;}.elementor-2679 .elementor-element.elementor-element-ad4417c.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-secondary );}.elementor-2679 .elementor-element.elementor-element-ad4417c.elementor-view-framed .elementor-icon, .elementor-2679 .elementor-element.elementor-element-ad4417c.elementor-view-default .elementor-icon{color:var( --e-global-color-secondary );border-color:var( --e-global-color-secondary );}.elementor-2679 .elementor-element.elementor-element-ad4417c.elementor-view-framed .elementor-icon, .elementor-2679 .elementor-element.elementor-element-ad4417c.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-secondary );}.elementor-2679 .elementor-element.elementor-element-ad4417c .elementor-icon{font-size:96px;}.elementor-2679 .elementor-element.elementor-element-ad4417c .elementor-icon i, .elementor-2679 .elementor-element.elementor-element-ad4417c .elementor-icon svg{transform:rotate(0deg);}.elementor-2679 .elementor-element.elementor-element-ad4417c{z-index:9;width:79px;max-width:79px;top:284.969px;}body:not(.rtl) .elementor-2679 .elementor-element.elementor-element-ad4417c{right:9.469px;}body.rtl .elementor-2679 .elementor-element.elementor-element-ad4417c{left:9.469px;}.elementor-2679 .elementor-element.elementor-element-f65a837 .elementskit-section-title-wraper .elementskit-section-title{color:#0AC668;font-family:"Cabin", Sans-serif;font-size:24px;font-weight:700;line-height:30px;}.elementor-2679 .elementor-element.elementor-element-f65a837 .elementskit-section-title-wraper .elementskit-section-title > span{color:#000000;}.elementor-2679 .elementor-element.elementor-element-f65a837 .elementskit-section-title-wraper .elementskit-section-subtitle{color:#646E84;font-family:"Rubik", Sans-serif;font-weight:400;line-height:17px;margin:0px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-f65a837 > .elementor-widget-container{padding:30px 23px 10px 23px;background-color:#FFFFFF;border-style:solid;border-width:0px 0px 4px 0px;border-color:#0AC668;border-radius:8px 8px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-f65a837{width:250px;max-width:250px;bottom:40.375px;}body:not(.rtl) .elementor-2679 .elementor-element.elementor-element-f65a837{right:-129px;}body.rtl .elementor-2679 .elementor-element.elementor-element-f65a837{left:-129px;}.elementor-2679 .elementor-element.elementor-element-727955a{overflow:visible;}.elementor-2679 .elementor-element.elementor-element-b0d5230{--e-image-carousel-slides-to-show:1;}.elementor-2679 .elementor-element.elementor-element-b0d5230 .elementor-image-carousel-caption{text-align:center;color:#1A9EC8;font-size:18px;}.elementor-2679 .elementor-element.elementor-element-f927f82{overflow:visible;}@media(min-width:768px){.elementor-2679 .elementor-element.elementor-element-7822ba0{width:100%;}}@media(max-width:1024px){.elementor-2679 .elementor-element.elementor-element-3c3a5fc .elementskit-section-title-wraper p{margin:0px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-031809b .elementskit-section-title-wraper p{margin:0px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper p{margin:0px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-19db4e7 > .elementor-widget-container{padding:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-2679 .elementor-element.elementor-element-3c3a5fc .elementskit-section-title-wraper .elementskit-section-title{margin:0px 0px 0px 0px;font-size:32px;line-height:37px;}.elementor-2679 .elementor-element.elementor-element-3c3a5fc .elementskit-section-title-wraper p{margin:25px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-3c3a5fc > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-031809b .elementskit-section-title-wraper .elementskit-section-title{margin:0px 0px 0px 0px;font-size:32px;line-height:37px;}.elementor-2679 .elementor-element.elementor-element-031809b .elementskit-section-title-wraper p{margin:25px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-031809b > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper .elementskit-section-title{margin:0px 0px 0px 0px;font-size:32px;line-height:37px;}.elementor-2679 .elementor-element.elementor-element-19db4e7 .elementskit-section-title-wraper p{margin:25px 0px 0px 0px;}.elementor-2679 .elementor-element.elementor-element-19db4e7 > .elementor-widget-container{padding:0px 0px 0px 0px;}}/* Start custom CSS for text-editor, class: .elementor-element-bcaf73f */.who-they-are{box-shadow: 0px 5px 40px 0px rgb(0 0 0 / 3%);margin: 20px 20px 0px 0px;padding: 20px 20px 20px 20px;}
.who-they-are h2{font-size: 30px;text-align: center;}
.who-they-are p{text-align:center;}
.who-they-are ul{padding:0;margin: 0;}
.who-they-are ul li b{font-weight: 500;}
.who-they-are ul li{        color: #646E84;
    margin: 6px 0px 6px 0px;
    font-family: "Rubik", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    list-style: none;
    letter-spacing: -0.15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e6ec;}
.catgerys .social a i{    color: #002C47;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;}/* End custom CSS */
/* Start custom CSS for elementskit-heading, class: .elementor-element-3c3a5fc */.elementor-2679 .elementor-element.elementor-element-71068bb .elementskit-section-title-wraper .elementskit-section-title{font-size:30px;margin-bottom: 0px;}
.elementor-2679 .elementor-element.elementor-element-71e6df1 .elementskit-section-title-wraper .elementskit-section-title{font-size:30px;margin-bottom: 0px;}
.elementor-2679 .elementor-element.elementor-element-12d2b32 .elementskit-section-title-wraper .elementskit-section-title{font-size:30px;margin-bottom: 0px;}/* End custom CSS */
/* Start custom CSS for elementskit-heading, class: .elementor-element-031809b */.moto{color: #1a9ec8 !important;font-weight: 500;}
.elementor-2679 .elementor-element.elementor-element-12d2b32 .elementskit-section-title-wraper p{margin: 0px 0px 5px 0px !important;}/* End custom CSS */
/* Start custom CSS for elementskit-team, class: .elementor-element-4cffd95 */.our-values .profile-body{       padding: 35px 10px 0px !important;}
.our-values .profile-body .profile-title{    font-size:18px !important;
    font-weight: 500 !important;
    line-height:31px !important;
    margin-bottom:66px !important;}
.ekit-wid-con .ekit-team-img.profile-image-card>img {
    height: 350px;
    object-fit: cover;
}

.project-read-more{margin-top: 20px;}
.project-read-more a:hover{background: #FFFFFF;
    color: #002C47;
    border-color: #FFFFFF;}
.project-read-more a{font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 100px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;}

.our-values .profile-body p{color:#fff;}
.our-values .profile-body .profile-content{font-size: 18px !important;    margin-top: 45px;}/* End custom CSS */
/* Start custom CSS for elementskit-team, class: .elementor-element-ef416d6 */.our-values .profile-body{       padding: 35px 35px 0px !important;}
.our-values .profile-body .profile-title{    font-size: 36px !important;
    font-weight: 500 !important;
    line-height:45px !important;
    margin-bottom: 25px !important;}
.ekit-wid-con .ekit-team-img.profile-image-card>img {
    height: 350px;
    object-fit: cover;
}
.project-read-more{margin-top: 20px;}
.project-read-more a:hover{background: #FFFFFF;
    color: #002C47;
    border-color: #FFFFFF;}
.project-read-more a{font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 100px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;}
.our-values .profile-body .profile-title:after{    position: absolute;
    content: '';
    left: 36px;
    bottom: 0;
    top: 145px;
    width: 50px;
    height: 3px;
    background: #ff5b2e;}
.our-values .profile-body p{color:#fff;}
.our-values .profile-body .profile-content{font-size: 18px !important;    margin-top: 45px;}/* End custom CSS */
/* Start custom CSS for elementskit-team, class: .elementor-element-972088a */.our-values .profile-body{       padding: 35px 35px 0px !important;}
.our-values .profile-body .profile-title{    font-size: 36px !important;
    font-weight: 500 !important;
    line-height:45px !important;
    margin-bottom: 25px !important;}
.ekit-wid-con .ekit-team-img.profile-image-card>img {
    height: 350px;
    object-fit: cover;
}
.project-read-more{margin-top: 20px;}
.project-read-more a:hover{background: #FFFFFF;
    color: #002C47;
    border-color: #FFFFFF;}
.project-read-more a{font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 100px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;}
.our-values .profile-body .profile-title:after{    position: absolute;
    content: '';
    left: 36px;
    bottom: 0;
    top: 145px;
    width: 50px;
    height: 3px;
    background: #ff5b2e;}
.our-values .profile-body p{color:#fff;}
.our-values .profile-body .profile-content{font-size: 18px !important;    margin-top: 45px;}/* End custom CSS */
/* Start custom CSS for elementskit-team, class: .elementor-element-993b998 */.our-values .profile-body{       padding: 35px 35px 0px !important;}
.our-values .profile-body .profile-title{    font-size: 36px !important;
    font-weight: 500 !important;
    line-height:45px !important;
    margin-bottom: 25px !important;}
.ekit-wid-con .ekit-team-img.profile-image-card>img {
    height: 350px;
    object-fit: cover;
}
.project-read-more{margin-top: 20px;}
.project-read-more a:hover{background: #FFFFFF;
    color: #002C47;
    border-color: #FFFFFF;}
.project-read-more a{font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 100px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;}
.our-values .profile-body .profile-title:after{    position: absolute;
    content: '';
    left: 36px;
    bottom: 0;
    top: 145px;
    width: 50px;
    height: 3px;
    background: #ff5b2e;}
.our-values .profile-body p{color:#fff;}
.our-values .profile-body .profile-content{font-size: 18px !important;    margin-top: 45px;}/* End custom CSS */
/* Start custom CSS for elementskit-team, class: .elementor-element-1a175b5 */.our-values .profile-body{       padding: 35px 35px 0px !important;}
.our-values .profile-body .profile-title{    font-size: 36px !important;
    font-weight: 500 !important;
    line-height:45px !important;
    margin-bottom: 25px !important;}
.ekit-wid-con .ekit-team-img.profile-image-card>img {
    height: 350px;
    object-fit: cover;
}
.project-read-more{margin-top: 20px;}
.project-read-more a:hover{background: #FFFFFF;
    color: #002C47;
    border-color: #FFFFFF;}
.project-read-more a{font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 100px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;}
.our-values .profile-body .profile-title:after{    position: absolute;
    content: '';
    left: 36px;
    bottom: 0;
    top: 145px;
    width: 50px;
    height: 3px;
    background: #ff5b2e;}
.our-values .profile-body p{color:#fff;}
.our-values .profile-body .profile-content{font-size: 18px !important;    margin-top: 45px;}/* End custom CSS */
/* Start custom CSS for elementskit-team, class: .elementor-element-ed77e5f */.our-values .profile-body{       padding: 35px 35px 0px !important;}
.our-values .profile-body .profile-title{    font-size: 36px !important;
    font-weight: 500 !important;
    line-height:45px !important;
    margin-bottom: 25px !important;}
.ekit-wid-con .ekit-team-img.profile-image-card>img {
    height: 350px;
    object-fit: cover;
}
.project-read-more{margin-top: 20px;}
.project-read-more a:hover{background: #FFFFFF;
    color: #002C47;
    border-color: #FFFFFF;}
.project-read-more a{font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 100px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;}
.our-values .profile-body .profile-title:after{    position: absolute;
    content: '';
    left: 36px;
    bottom: 0;
    top: 145px;
    width: 50px;
    height: 3px;
    background: #ff5b2e;}
.our-values .profile-body p{color:#fff;}
.our-values .profile-body .profile-content{font-size: 18px !important;    margin-top: 45px;}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5916bf9 */.ekit-wid-con .ekit-team-img.profile-image-card>img {
    height: 265px !important;
    border: 1px solid #9294924a;
}/* End custom CSS */
/* Start custom CSS for elementskit-heading, class: .elementor-element-f65a837 */#Timehaschanged .ekit-wid-con .elementskit-section-subtitle{    margin: 0px 0px 0px 0 !important;}
.t-title .ekit-heading__description p{    margin: 0 !important;
    text-transform: uppercase;}/* End custom CSS */