// body var
$yantramanav: 'Yantramanav', sans-serif;
$rubik: 'Rubik', sans-serif;

// default color set

$primary-color: #ff5b2e;
$secondary-color: #002C47;


$color-gray: #ededed;

$color-black: #191919;
$white-color: #FFFFFF;
$gray-light: #666666;
$title-color: #002C47;


// social color
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-dribbble: #ea4c89;
$color-pinterest: #bd081c;
$color-instagram: #e1306c;
$color-google-plus: #D8443D;
$color-linkedin: #dd5143;


